@import "../bootstrap/variables";


$fontfamily: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

body {
    padding-top: 3.375rem;
    background-color: $secondary;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 0;
      padding-left: 17rem;
    }
  }
  h1, .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    text-transform: uppercase;
  }
  h1, .h1 {
    line-height: 1;
  }

  a {
    font-family: $fontfamily;
    font-size: 1.2em;
  }
  
  p.lead {
    font-size: $lead-font-size;
    font-weight: $lead-font-weight;
  }
  
  .site-title {
    a { 
    color: $border-color;
        &:hover, &:active { 
            color: $secondary;
        } 
    }
  }
 

  .subheading {
    font-family: $fontfamily;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
  }
  
  #sideNav{
    padding-left: 1rem;
    padding-right: 1rem;
  
   .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
   .navbar-toggler:focus {
    outline-color: $link-hover-color;
  }
  
  .site-description {
    color: $secondary;//$gray-200;
  }

  @media (min-width: 992px) {
     
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 17rem;
      height: 100vh;
    
     .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;
    
        .img-profile {
            max-width: 10rem;
            max-height: 10rem;
            border: 0.5rem solid rgba(255, 255, 255, 0.2);
        }
    }
     .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;

        .navbar-nav {
        flex-direction: column;
        width: 100%;
            .nav-item {
            display: block;
                .nav-link {
                display: block;
                }
            }
        }
    }
  }
}

.entry-title {
    line-break: auto;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.social-icons{
    .social-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        width: 3.5rem;
        background-color: $gray-700;
        color: $white;
        border-radius: 100%;
        font-size: 1.5rem;
        margin-right: 1.5rem;

        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background-color: $primary;
        }
    }
  }
  .dev-icons {
    font-size: 3rem;
  }
  
  section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
  }
  section.resume-section .resume-section-content {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    section.resume-section {
      min-height: 100vh;
    }
  }
  @media (min-width: 992px) {
    section.resume-section {
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }


.single-post > a.post-thumbnail img {
  margin-bottom: 20px;
}

a.badge.bg-secondary.link-light {
    // color: $light;
    color: $primary;
    border: $primary 1px solid;
    &:hover{
        color: $light;
    }
}

.wp-pagenavi {
  clear: both;
    a, span {
    color: $white;
    text-decoration: none;
    background-color: $link-hover-color;
    border: 1px solid $border-color;
    padding: 5px 5px;
    margin: 2px;
    }

    a:hover, span.current {
    border-color: $border-color;
    background-color: $link-hover-color;
    }

    span.current {
    font-weight: bold;
    background-color:$primary;
    }
}

.navigation.wp-pagenavi {
    text-align: center;

    .navigation.wp-pagenavi ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    display: inline;
    line-height: 50px;
    list-style:none;
    display: inline-block;
    }
}

.nav-links,
.navigation {
    a,
    a:hover,
    a.active,
    a.disabled,
    li a,
    li a:hover,
    li.active a,
    li.disabled {
        color: $white;
        font-family: $font-family-monospace;
        background-color: $primary;
        border-radius: 3px;
        cursor: pointer;
        padding: 12px;
        padding: 0.75rem;
        text-decoration: none;
        line-height: 50px;
    }
    
    li {
        display: inline;
    }

    a:hover,
    a.active,
    li a:hover,
    li.active a {
        background-color: $link-hover-color;
    }
}


/* Make that logo a cirlce */
.custom-logo {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    display: block;
    position: relative;
}

img.custom-logo {
    margin: 10px 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border: 13px solid $secondary;
}

.custom-logo-link {
  h1 {
    color: $secondary;
  }
}

@media only screen and (min-width: 200px) and (max-width: 670px) {
  a.custom-logo-link > img {
    display: block;
    width: 100%;
    height: auto;
  }
}

@media (max-width:480px){
  .custom-logo-link img{
      width: 60px;
      height: auto;
  }

}

.breadcrumb{
  --bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;); 
  clear: both !important; 
  // display: block; 
  position: relative;
}
