$color__background-body: $body-bg;
$color__background-screen: #f1f1f1;
$color__background-hr: $gray-400;
$color__background-button: $primary;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $link-color;
$color__text-input: $gray-600;
$color__text-input-focus: $gray-900;
$color__link: $link-color;
$color__link-visited: $link-color;
$color__link-hover: $link-hover-color;
$color__text-main: $gray-900;



$color__border-button: $primary;
$color__border-input: $primary;
$color__button-text: $secondary;

$color__border-abbr: $primary;



$color__border-button-hover: $primary;
$color__background-button-hover: $secondary;
$color__button-text-hover: $primary;


$color__border-button-focus: $primary;
$color__background-button-focus: $secondary;
$color__button-text-focus: $secondary;

